<header class="section-header">
  <section class="header-main">
    <div class="container">
      <div class="row gy-3 align-items-center">
        <div class="col-lg-2 col-sm-4 col-4">
          <a href="#" class="navbar-brand">
            RichEcom
          </a> <!-- brand end.// -->
        </div>
        <div class="order-lg-last col-lg-5 col-sm-8 col-8">
          <div class="float-end">
            <a href="#" class="btn btn-light">
                <i class="fa fa-user"></i>  <span class="ms-1 d-none d-sm-inline-block">Sign in  </span>
            </a>
            <a href="#" class="btn btn-light">
              <i class="fa fa-heart"></i>  <span class="ms-1 d-none d-sm-inline-block">Wishlist</span>
            </a>
            <a data-bs-toggle="offcanvas" href="#offcanvas_cart" class="btn btn-light">
              <i class="fa fa-shopping-cart"></i> <span class="ms-1">My cart </span>
            </a>
              </div>
        </div> <!-- col end.// -->
        <div class="col-lg-5 col-md-12 col-12">
          <form action="#" class="">
                  <div class="input-group">
                    <input type="search" class="form-control" style="width:55%" placeholder="Search">
                    <select class="form-select">
                      <option value="">All type</option>
                      <option value="codex">Special</option>
                      <option value="comments">Only best</option>
                      <option value="content">Latest</option>
                    </select>
                    <button class="btn btn-primary">
                      <i class="fa fa-search"></i>
                    </button>
                  </div> <!-- input-group end.// -->
                </form>
        </div> <!-- col end.// -->

      </div> <!-- row end.// -->
    </div> <!-- container end.// -->
  </section> <!-- header-main end.// -->

  <nav class="navbar navbar-light bg-primary border-top navbar-expand-lg">
    <div class="container">
      <button class="navbar-toggler border" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbar_main">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link ps-0" href="#"> Categories </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Hot offers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Gift boxes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu item</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Menu name</a>
          </li>
          <li class="nav-item dropdown">
            <a class="dropdown-toggle nav-link" href="#" data-bs-toggle="dropdown">
              Others
            </a>
            <ul class="dropdown-menu">
              <li> <a class="dropdown-item" href="#">Submenu one </a> </li>
              <li> <a class="dropdown-item" href="#">Submenu two</a> </li>
              <li> <a class="dropdown-item" href="#">Submenu three</a> </li>
            </ul>
          </li>
        </ul>
      </div> <!-- collapse end.// -->
    </div> <!-- container end.// -->
  </nav> <!-- navbar end.// -->
</header> <!-- section-header end.// -->



<!-- Cart-shop -->

    <aside class="offcanvas offcanvas-end" tabindex="-1" id="offcanvas_cart">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title">Your cart (3) </h5>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">

          <figure class="itemside mb-4">
            <div class="aside">
              <img src="assets/images/items/14.webp" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> Leather Wallet for Men</p>
              <span class="text-muted">1 x $200.95 </span> <br>
              <strong class="price"> $400.90 </strong>
            </figcaption>
          </figure>

          <figure class="itemside  mb-4">
            <div class="aside">
              <img src="assets/images/items/2.webp" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> Canon EOS 1400 Black </p>
              <span class="text-muted">2 x $169.95 </span> <br>
              <strong class="price"> $339.90 </strong>
            </figcaption>
          </figure>

          <figure class="itemside  mb-4">
            <div class="aside">
              <img src="assets/images/items/11.webp" class="border img-sm rounded">
            </div>
            <figcaption class="info">
              <a href="#" class="btn btn-icon btn-light float-end"><i class="fa fa-trash"></i></a>
              <p> Winter Jacket for men and lady </p>
              <span class="text-muted">2 x $169.95 </span> <br>
              <strong class="price"> $339.90 </strong>
            </figcaption>
          </figure>
          <hr>

          <p class="mb-3 text-center"> Subtotal:  <strong class="text-danger">$893.00</strong>  </p>
          <div class="mb-3">
            <a href="#" class="btn w-100 btn-success"> Checkout </a>
          </div>
          <p class="mb-3 text-center"> <img src="assets/images/payments.webp" height="22">  </p>

        </div> <!-- offcanvas-body -->
    </aside> <!-- offcanvas -->

<!-- cart shop end -->
